body {
    background-image: url('https://github.com/Caz1113/webapp/blob/main/bgimage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}